<style>
    .message-li>a{
        font-size:12px;
    }
</style>
<div class="content-left">
    <nav class="nav">
        <ul class="nav" style="padding-left: 10px;padding-bottom: 20px;">
            <div class="navbar-brand" style="padding-bottom: 30px;">
                <span class="glyphicon glyphicon-bell"></span>&nbsp;消息中心
            </div>
            <div style="height: 30px;"></div>
            <hr/>

            {#            <li>#}
            {#                <a href="{% url 'message_status' %}">消息状态</a>#}
            {#            </li>#}
            <li class="message-li">
                <a href="{% url 'system_message' %}">系统消息<span class="badge" style="background: #2e9d32;left:5px;top:-2px;position: relative">{{ user.messagestatus.system_to_user_message_count }}</span></a>
            </li>
            <li class="message-li">
                <a href="{% url 'event_message' %}">事件消息<span class="badge" style="background: #2e9d32;left:5px;top:-2px;position: relative">{{ user.messagestatus.even_message_count }}</span></a>
            </li>
            <li class="message-li">
                <a href="{% url 'private_message' %}">私信<span class="badge" style="background: #2e9d32;left:5px;top:-2px;position: relative">{{ user.messagestatus.user_to_user_message_count }}</span></a>
            </li>
            <li class="message-li">
                <a href="{% url 'space-friend' %}">好友</a>
            </li>
            <li class="message-li">
                <a href="{% url 'message_status' %}">高级设置</a>
            </li>
        </ul>
    </nav>
</div>