{% load static %}
<div class="block-right">
    <a href="#">
        <img src="{% static '/image/profit/206.gif'%}" style="width: 100%">
    </a>
</div>

<div class="block-right">
    <a href="#">
        <img src="{% static '/image/profit/201.gif'%}" style="width: 100%">
    </a>
</div>
{#    <div class="block-right">#}
{#        <a href="#">#}
{#            <img src="{% static '/image/profit/204.gif'%}" style="width: 100%">#}
{#        </a>#}
{#    </div>#}
<div class="block-right">
    <a href="#">
        <img src="{% static '/image/profit/203.gif'%}" style="width: 100%">
    </a>
</div>
<div class="block-right">
    <a href="#">
        <img src="{% static '/image/profit/205.gif'%}" style="width: 100%">
    </a>
</div>