{% extends 'interface/base_display_left_rignt.html' %}
{% load static %}


{% block tittle %}
    发现
{% endblock %}


{% block ad %}
    <div class="block-my-ad">

    </div>
{% endblock %}

{% block style-04101406 %}
    <style>
        .class-div{
            display: inline;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
        }
        .class-div-active{
            background-color: #383838;
        }
        .class-div-active >a{
            color: #fefefe;
        }
        .subclass-list{
            background-color: #f4f4f4;
            padding-left: 5px;
            padding-top: 7px;
            padding-bottom:7px;
        }
        .subclass-list-item{
            display: inline;
            padding-left: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
            color: #909090;
        }
        .subclass-list-item>a{
            color: #615f62;
            font-size: 14px;
        }
        .subclass-list-item>a:hover{
        {#            color: #2e6da4;#}
        }

    </style>
    <style>
        .div-ad-head{
        {#            background-color: #449d44;#}
            border-left: 1px solid #aaaaaa;
            border-bottom: 1px solid #d9d9d9;
            background-color: #F4F4F4;
        }
        .div-hot-today{
            padding-left: 5px;
            padding-top: 3px;
        }
        .div-hot-today > a{
            font-size:10px;
        }

    </style>
{% endblock %}

{% block left %}
    <div class="block-left" style="padding-left: 20px;padding-top: 20px;padding-bottom: 20px;padding-right: 20px;">
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <div style="display: inline-block;">选择一个板块 </div>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" style="width: 200px;height: 400px;overflow-y: scroll">
                    <li style="height: 30px;">
                        <div style="padding-left: 5px;padding-right: 5px;">
                            <span style="float: left;top: 5px;" class="glyphicon glyphicon-search"></span>
                            <div style="float: left;width: 30px;margin-left: 5px;"><input style="width: 150px;"></div>
                        </div>
                    </li>
                    <li style="height: 2px;background-color: #EEEEEE"></li>
                    <li class="dropdown-header">总板块1</li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">总板块2</li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">总板块3</li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li><a href="#">板块1</a></li>
                    <li><a href="#">板块2</a></li>
                    <li><a href="#">板块3</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
            </div>
        </div>
        <div style="padding-top: 10px">
            <form role="form" id="new_thread_form">
                <div class="form-group">
                    <label for="tittle">标题</label>
                    <input type="text" class="form-control" id="tittle" placeholder="" autocomplete="off"></div>
                <div class="form-group">
                    <label for="exampleInputPassword1">内容</label>
                    <textarea style="height: 200px;resize: none;" class="form-control" form="new_thread_form" name="content"></textarea>
                    {#                    <div  style="height: 300px;" id="input-div"></div>#}
                </div>
                <div class="form-group">
                    {#                    <label for="imageFile">File input</label>#}
                    <input type="file" id="imageFile" autocomplete="off">
                    <p class="help-block">你可以选择上传一张图片</p>
                </div>
                <button type="submit" class="btn btn-default">提交&nbsp;<span class="glyphicon glyphicon-send"></span></button>
            </form>
        </div>
    </div>
    <link type="text/css" rel="stylesheet" href="{% static 'css/wangEditor.css' %}">
    <script src="{% static 'js/wangEditor.js' %}"></script>
    <script type="application/javascript">
        var editor = new wangEditor('input-div');
        editor.create();
    </script>
{% endblock %}


{% block right %}
    {% if logined %}
        <div class="block-right" style="height: 150px;text-align: center">
            <P>你好,{{ user.username }}</P>
        </div>
    {% endif %}
    {% include 'forum/ad_block.html' %}
{% endblock %}