{% extends 'interface/base_display_left_rignt.html' %}
{% load static %}


{% block tittle %}
    发现
{% endblock %}


{% block ad %}
    {% include 'pieces/base_display_left_rignt/ad-long.html' %}
{% endblock %}

{% block style-04101406 %}
    <style>
        .class-div{
            display: inline;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
        }
        .class-div-active{
            background-color: #383838;
        }
        .class-div-active >a{
            color: #fefefe;
        }
        .subclass-list{
            background-color: #f4f4f4;
            padding-left: 5px;
            padding-top: 7px;
            padding-bottom:7px;
        }
        .subclass-list-item{
            display: inline;
            padding-left: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
            color: #909090;
        }
        .subclass-list-item>a{
            color: #615f62;
            font-size: 14px;
        }
        .subclass-list-item>a:hover{
        {#            color: #2e6da4;#}
        }

    </style>
    <style>
        .div-ad-head{
        {#            background-color: #449d44;#}
            border-left: 1px solid #aaaaaa;
            border-bottom: 1px solid #d9d9d9;
            background-color: #F4F4F4;
        }
        .div-hot-today{
            padding-left: 5px;
            padding-top: 3px;
        }
        .div-hot-today > a{
            font-size:10px;
        }

    </style>
{% endblock %}

{% block left %}
    <style>
        #ul-04131056 > li{
            padding-bottom: 5px;
        }
    </style>
    <div class="block-left" style="padding-top: 10px;padding-right: 30px;padding-bottom: 10px;padding-left: 20px;">
        <div style="margin-left: 12px;margin-bottom: 15px;">{% include "pieces/commom/badge.html" with content="注意事项"%}</div>
        <ul id="ul-04131056" style="padding-left: 30px;">
            <li>主题标题,
                请在标题中描述内容要点。如果一件事情在标题的长度内就已经可以说清楚，那就没有必要写正文了。</li>
            <li>可以在正文中为你要发布的主题添加更多细节。上传一张图片可能会帮助你更好的说明问题,高亮部分使用:&lt;pre&gt;我是内容&lt;/pre&gt;<pre style="margin-top: 10px;">我是内容</pre></li>
            <li>
                选择节点
                在最后，请为你的提问选择一个版块。恰当的归类会让你的提问得到更快，以及更有效的回答,不恰当的主题内容可能会被删除。
            </li>
            <li>在发布300s内可以选择修改问题的标题以及内容,300秒禁止修改，如果有特殊情况请联系网站管理员。邮箱地址为 admin@snapflow.top</li>
        </ul>
        <div style="clear: left"></div>
    </div>

    <!--    复制区域-->
    <div style="display: none;">
        <li id="header-li" style="padding-left: 10px;" > 板块</li>
        <li id="clone-li" style="cursor: pointer"><a>测试</a></li>
        <li id="separator-li" role="separator" class="divider"></li>
    </div>


    <div class="block-left" style="padding-left: 20px;padding-top: 25px;padding-bottom: 30px;padding-right: 30px;">

        <form action="." method="post" enctype="multipart/form-data" id="thread-form">
            {% csrf_token %}
            <input id="sub_class_input" name="sub_class" value="1" hidden="hidden">
            <div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <div id="select-a-block" style="display: inline-block;">选择一个板块 </div>
                        <span class="caret"></span>
                    </button>
                    <ul id="class-container"  class="dropdown-menu" role="menu" style="width: 200px;height: 400px;overflow-y: scroll">
                        <li style="height: 30px;">
                            <a style="display: none">选择一个板块 </a>
                            <div style="padding-left: 5px;padding-right: 5px;">
                                <span style="float: left;top: 5px;" class="glyphicon glyphicon-search"></span>
                                <div style="float: left;width: 30px;margin-left: 5px;">
                                    {#                                    搜索#}
                                    <input id="subclass_search" style="width: 150px;">
                                </div>
                            </div>
                        </li>
                        <li style="height: 2px;background-color: #EEEEEE"></li>
                        {#                        插入到这里#}
                        {#                    <li id="clone-li"><a>测试</a></li>#}
                    </ul>
                </div>
            </div>
            <div style="padding-top: 10px">
                <div class="form-group">
                    <label for="tittle">标题</label>
                    <input type="text" class="form-control" id="tittle" name="tittle" placeholder="" autocomplete="off"></div>
                <div class="form-group">
                    <label for="exampleInputPassword1">内容</label>
                    <textarea style="height: 200px;resize: none;" class="form-control" form="thread-form" name="content"></textarea>
                    {#                    <div  style="height: 300px;" id="input-div"></div>#}
                </div>
                <div class="form-group">
                    {#                    <label for="imageFile">File input</label>#}
                    <input type="file" id="imageFile" autocomplete="off">
                    <p class="help-block">你可以选择上传一张图片</p>
                </div>
                <button type="submit" class="btn btn-danger" onclick="return clear_all()">清空</button>
                <button type="submit" class="btn btn-default">提交&nbsp;<span class="glyphicon glyphicon-send"></span></button>
            </div>
        </form>
    </div><!--block-left-->
    <script type="application/javascript">
        function clear_all(){
            return false;
        }
    </script>
    <script type="application/javascript">
        {#        生成li#}
        var origin_list = {{ clsss_list|safe }};
        for(var i in origin_list){
            var newNode = $('#clone-li').clone();
            newNode.attr('value',origin_list[i].sub_class_id)
            newNode.children('a').text(origin_list[i].parent_class_name+" / "+origin_list[i].display_name);
            newNode.addClass("clone-li-class");
            $("#class-container").append(newNode);
        }
        <!--生成的li点击事件-->
        $("#class-container > li").click(function(){
            $("#sub_class_input").val(this.value);
            {#            console.log($(this).children('a').text());#}
            $("#select-a-block").text($(this).children('a').text());
            {#            console.log(this.value);#}
        });

        {#        $("#subclass_search").change(function(){#}
        {#            console.log("something change");#}
        {#        });#}
        $("#subclass_search").on('input',function(e){
            var query = $("#subclass_search").val();
            $(".clone-li-class").remove();
            <!--重新装载-->
            for(var i in origin_list){
                var newNode = $('#clone-li').clone();
                newNode.attr('value',origin_list[i].sub_class_id)
                newNode.children('a').text(origin_list[i].parent_class_name+" / "+origin_list[i].display_name);
                newNode.addClass("clone-li-class");
                if(origin_list[i].parent_class_name.indexOf(query)!=-1||origin_list[i].display_name.indexOf(query)!=-1){
                    $("#class-container").append(newNode);
                }
            }
            <!--重新绑定事件-->
            $("#class-container > li").click(function(){
                $("#sub_class_input").val(this.value);
                {#            console.log($(this).children('a').text());#}
                $("#select-a-block").text($(this).children('a').text());
                {#            console.log(this.value);#}
            });
        });

    </script>
{% endblock %}


{% block right %}
    {% if logined %}
        <div class="block-right" style="height: 150px;text-align: center">
            <P>你好,{{ user.username }}</P>
        </div>
    {% endif %}
    {% include 'forum/ad_block.html' %}
{% endblock %}