{% extends 'interface/base_display_left_rignt.html' %}

{% block tittle %}
    贴子
{% endblock %}

{% block ad %}

{% endblock %}


{% block left %}
    <div class="block-left">
        {{ thread.tittle }}
        <div style="width: 64px;height: 64px;">
            <img style="width: 100%;" src="{{ thread.create_user.userprofile.avatar.url }}">
        </div>

        {{ thread.create_user }}
        {{ thread.content}}
        content
        <!--标签处-->
        <div></div>
    </div>


    <!--评论区-->
    <div class="block-left comment-area">
        我是评论
    </div>
{% endblock %}

{% block right %}
    <div class="block-right">this is right</div>
{% endblock %}