{% extends 'interface/base_display_left_rignt.html' %}

{% block tittle %}
    {{ thread.tittle }}
{% endblock %}

{% block ad %}

{% endblock %}


{% block left %}
    <style>
        .markdown_body > p >img{
            width: 100%;
        }
        .topic_content > img{
            width:100%;
        }
        .topic_content > a >img{
            width: 100%;
        }
        .markdown_body >p>a>img{
        width: 100%;
    }
    </style>
    <script type="application/javascript">
        function go_back(){
            window.history.back();
        }
        function toggle_like(){
            {#            console.log($("#like_span"));#}
            $("#like_button").attr('disabled',true);
            $("#like_span").text("...");

            $.ajax({
                url:"/t/like?tid="+{{ thread.id }},
                success:function(data){
                    console.log(data)
                    if(data.success==true){
                        console.log(data);
                        setTimeout(function(){
                            if(data.code==200){
                                <!--取消点赞成功-->
                                $("#like_span").text("已取消点赞");
                            }else if(data.code==201){
                                <!--点赞成功-->
                                $("#like_span").text("已点赞");
                            }
                        },500);
                    }else{
                        setTimeout(function(){
                            $("#like_button").attr('disabled',false);
                            $("#like_span").text("点赞");
                        },500);
                    }
                },
                error:function(data){
                    console.log(data)
                }
            });
        }
        function add_collection(){
            {#            /collection/add?tid=502#}
            $.ajax({
                url:"/collection/add?tid="+{{ thread.id }},
                success:function(data){
                    if(data.code==200){
                        $("#collection_span").text("收藏成功");
                        $("#collection_button").attr("disabled",true);
                    }else if(data.code==201){
                        $("#collection_span").text("收藏成功");
                        $("#collection_button").attr("disabled",true);
                    }
                    else{
                        $("#collection_span").text(data.message);
                    }
                    console.log(data);
                },
                error:function(data){
                    $("#collection_span").text("发生错误 code 4002");
                    console.log(data);
                }
            });

        }
        function empty_input(){
            $("#id_content").val("");
            return false;
        }
    </script>
    <div class="block-left" style="padding: 15px;">

        <a onclick="go_back()"><button style="padding: 0 12px;"><span class="glyphicon glyphicon-arrow-left"></span></button></a>

        <div style="display: inline-block;float: right;padding-right: 10px;">{{ thread.main_class }} / {{ thread.sub_class }} / {{ thread.tittle|truncatechars:9 }}</div>
        <div></div>
        <div style="float: left"><h4 style="padding-left: 5px;margin-left: 2px;">{{ thread.tittle }}</h4></div>
        <div class="info-divs" style="float: right;padding-top: 10px;padding-right: 10px;">
            <div style="display: inline-block;padding-right: 7px;"><span class="glyphicon glyphicon-eye-open">{{ thread.view }}</span></div>
            <div style="display: inline-block;padding-right: 7px;"><span class="glyphicon glyphicon-thumbs-up">{{ thread.like }}</span></div>
            <div style="display: inline-block;padding-right: 7px;"><span class="glyphicon glyphicon-comment">{{ thread.reply }}</span></div>
            {#            <div style="display: inline-block;padding-right: 7px;"><span class="glyphicon glyphicon glyphicon-paperclip">{{ thread.like }}</span></div>#}

        </div>
        <div style="clear: both"></div>
        <div style="width: 250px;padding-left: 10px;">
            <div style="display: block;">
                <img style="height: 80px;width: 80px;border-radius: 40px;padding: 2px;box-shadow: 1px 1px 1px 1px #e1e1e1" src="{{ thread.create_user.userprofile.avatar.url }}">
            </div>
            <div style="width: 80px;text-align: center;color: #98a57c;padding-top: 5px;"><a href="#" style="font-size: 16px;">{{ thread.create_user.username }}</a></div>
        </div>

        <div style="clear: both"></div>


        <!--内容-->
        <div class="thread-content" style="padding-left: 10px;border-left: 1px solid #686868;margin-top: 15px;">
            {{ thread.content|safe}}
        </div>
        <hr/>
        <div style="float: right;padding-top: 5px;">
            {{ thread.create_time }}
        </div>
        <!--标签处-->
        <div></div>


        {% if logined %}
            <!--收藏按钮-->
            <div style="display: inline-block">
                {#            <button class="btn btn-default">收藏 <span class="glyphicon glyphicon-paperclip"></span></button>#}
                <button id="collection_button" onclick="add_collection()" class="btn btn-default" {% if collected %}disabled="disabled"{% endif %}>
                    <span id="collection_span" class="glyphicon glyphicon-paperclip">{% if collected %}已收藏{% else %}添加收藏{% endif %}</span>
                </button>
            </div>
            <div style="display: inline-block">
                <button id="like_button" onclick="toggle_like()" class="btn {% if liked %}btn-default{% else %}btn-default{% endif %}">
                    <span id="like_span" class="glyphicon glyphicon-thumbs-up">{% if liked %}已点赞{% else %}点赞{% endif %}</span></button>
            </div>
        {% else %}
            <div style="padding-bottom: 10px;">登录后收藏与点赞</div>
            <div style="display: inline-block">
                {#            <button class="btn btn-default">收藏 <span class="glyphicon glyphicon-paperclip"></span></button>#}
                <button id="collection_button" class="btn btn-default" disabled="disabled">
                    <span id="collection_span" class="glyphicon glyphicon-paperclip">{% if collected %}已收藏{% else %}添加收藏{% endif %}</span>
                </button>
            </div>
            <button id="like_button" class="btn btn-default" disabled="disabled">
                <span id="like_span" class="glyphicon glyphicon-thumbs-up">{% if liked %}已点赞{% else %}点赞{% endif %}</span></button>
            <div style="display: inline-block">
            </div>
        {% endif %}

    </div>

    <div class="block-left">
        {% if not comment_list %}
            <div style="text-align: center;padding-top: 15px;">目前还没有评论</div>
        {% endif %}
        <div class="comment-list-wrapper" style="padding: 10px;">
            {% for i in comment_list %}
                <!--{{ i.id }}-->
                <div style="padding: 5px;border-bottom: 1px solid #eaeaea">
                    <div style="float: left;padding-top: 2px;">
                        <div style="display: inline-block;width: 20px;">{{ forloop.counter }}</div>
                        <img style="display: inline-block;border-radius: 2px;height: 40px;width: 40px;" src="{% if i.create_user.userprofile.avatar %}{{ i.create_user.userprofile.avatar.url }}{% endif %}">
                    </div>
                    <div style="margin-left: 70px;">
                        <a href="#"><div style="float: left;color: #616161;">{{ i.create_user.username }}：</div></a>
                        <div style="float: left;">{{ i.content}}</div>
                    </div>
                    <div style="float: right;">
                        <div style="">{{ i.create_time |timesince}} 前</div>
                    </div>
                    <div style="clear: both"></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--评论区-->
    <div class="block-left comment-area" style="padding: 20px;">
        <div style="margin-bottom: 20px;">
            {% include 'pieces/commom/badge.html' with content="添加评论" %}
        </div>
        <form action="." method="post">
            {% csrf_token %}
            <textarea  {% if not logined %}disabled="disabled"{% endif %} class="form-control" cols="40" id="id_content" name="content" rows="10" required="" placeholder="{% if logined %}输入你的评论{% else %}登录后可评论{% endif %}"></textarea>
            <div style="height: 10px;"></div>
            <button {% if not logined %}disabled="disabled"{% endif %} class="btn btn-danger" onclick="return empty_input()">清空</button>
            <button {% if not logined %}disabled="disabled"{% endif %} class="btn btn-default">提交&nbsp;<span class="glyphicon glyphicon-send"></span></button>
        </form>
    </div>

    <div class="block-left">
{#        推荐？#}
    </div>
{% endblock %}

{% block right %}
    {#    <div class="block-right">this is right</div>#}
    {% include 'forum/hot_today.html' %}
    {% include 'forum/hot-block.html' %}
    {% include 'forum/ad_block.html' %}
{% endblock %}