<style>
    .div-ad-head{
    {#            background-color: #449d44;#}
        border-left: 1px solid #aaaaaa;
        border-bottom: 1px solid #d9d9d9;
        background-color: #F4F4F4;
    }
    .block-tag-div{
        display: inline-block;
        padding:5px;
        background-color: #ececec;
    }
    .badge{
    }
    .badge-tag{
        margin-bottom: 5px;
    }
</style>
<div class="block-right" style="padding: 10px;overflow: hidden">
    <div class="div-ad-head" style="text-align: center">
        最热板块
    </div>
    <div style="padding-top: 10px;">
        <a href="/t/?tab=technique&subtab=programmer"><div class="badge badge-tag" style="padding: 8px;">程序员</div></a>
        <a href="/t/?tab=technique&subtab=cloud-computing"><div class="badge badge-tag" style="padding: 8px;">云计算</div></a>
        <a href="/t/?tab=career-spot&subtab=recruit"><div class="badge badge-tag" style="padding: 8px;">招聘</div></a>
        <a href="/t/?tab=career-spot&subtab=career-tweet"><div class="badge badge-tag" style="padding: 8px;">吐槽</div></a>
        <a href="/t/?tab=city&subtab=shenzhen"><div class="badge badge-tag" style="padding: 8px;">深圳</div></a>
        <a href="/t/?tab=city&subtab=guangzhou"><div class="badge badge-tag" style="padding: 8px;">广州</div></a>
    </div>
</div>