{% extends 'interface/base_display_left_rignt.html' %}


{% block tittle %}
    发现
{% endblock %}


{% block ad %}
    <div class="block-my-ad">

    </div>
{% endblock %}

{% block style-04101406 %}
    <style>
        .class-div{
            display: inline;
            padding-left: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
        }
        .class-div-active{
            background-color: #383838;
        }
        .class-div-active >a{
            color: #fefefe;
        }
        .subclass-list{
            background-color: #f4f4f4;
            padding-left: 5px;
            padding-top: 7px;
            padding-bottom:7px;
        }
        .subclass-list-item{
            display: inline;
            padding-left: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
            color: #909090;
        }
        .subclass-list-item>a{
            color: #615f62;
        }
        .subclass-list-item>a:hover{
{#            color: #2e6da4;#}
        }

    </style>
{% endblock %}

{% block left %}
    <div class="block-left">
        <div style="padding-top: 12px;padding-left: 10px;padding-bottom: 8px;">
            {% for item in display_class %}
                <div class="class-div {% ifequal tab item.name %}class-div-active{% endifequal %}">
                    <a class="nav-a-btn-alike" href="?tab={{ item.name }}">{{ item }}</a>
                </div>
            {% endfor %}
        </div>
{#        <div style="height: 2px;background-color: #8c5b5a"></div>#}
        <div class="subclass-list" style="border-left: 1px solid #666666;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE">
            <div class="subclass-list-item"><a href="#">默认</a></div>
            <div class="subclass-list-item"><a href="#">云计算</a></div>
            <div class="subclass-list-item"><a href="#">人工智能</a></div>
            <div class="subclass-list-item"><a href="#">深度学习</a></div>
            <div class="subclass-list-item"><a href="#">智能嵌入式</a></div>
        </div>
        <div style="height: 500px;"></div>
    </div>
{% endblock %}


{% block right %}
    <div class="block-right">
        你好,{{ user.username }}
    </div>
{% endblock %}