{% extends 'interface/base_display_left_rignt.html' %}


{% block tittle %}
    发现
{% endblock %}


{% block ad %}
    <div class="block-my-ad">

    </div>
{% endblock %}

{% block style-04101406 %}
    <style>
        .class-div{
            display: inline;
        }
        .subclass-list{
            background-color: #cfcfcf
        }
        .subclass-list-item{
            display: inline;
        }
    </style>
{% endblock %}

{% block left %}
    <div class="block-left">
        <div style="padding-top: 7px;padding-left: 10px;">
            {% for item in display_class %}
                <div class="class-div">
                    <a class="nav-a-btn-alike" href="#">{{ item }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="subclass-list" style="">
            <div class="subclass-list-item">1</div>
            <div class="subclass-list-item">1</div>
            <div class="subclass-list-item">1</div>
            <div class="subclass-list-item">1</div>
        </div>

    </div>
{% endblock %}


{% block right %}
    <div class="block-right">
        你好,{{ user.username }}
    </div>
{% endblock %}