{% extends 'interface/base_display_left_rignt.html' %}
{% load static %}


{% block tittle %}
    发现
{% endblock %}


{% block ad %}
    <div class="block-my-ad">

    </div>
{% endblock %}

{% block style-04101406 %}
    <style>
        .class-div{
            display: inline;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
        }
        .class-div-active{
            background-color: #383838;
        }
        .class-div-active >a{
            color: #fefefe;
        }
        .subclass-list{
            background-color: #f4f4f4;
            padding-left: 5px;
            padding-top: 7px;
            padding-bottom:7px;
        }
        .subclass-list-item{
            display: inline;
            padding-left: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
            color: #909090;
        }
        .subclass-list-item>a{
            color: #615f62;
            font-size: 14px;
        }
        .subclass-list-item>a:hover{
        {#            color: #2e6da4;#}
        }

    </style>
    <style>
        .div-ad-head{
{#            background-color: #449d44;#}
            border-left: 1px solid #aaaaaa;
            border-bottom: 1px solid #d9d9d9;
            background-color: #F4F4F4;
        }
        .div-hot-today{
            padding-left: 5px;
            padding-top: 3px;
        }
        .div-hot-today > a{
            font-size:10px;
        }

    </style>
{% endblock %}

{% block left %}
    <div class="block-left" style="">
        <div style="padding-top: 12px;padding-left: 10px;padding-bottom: 8px;">
            {% for item in display_class %}
                <div class="class-div {% ifequal tab item.name %}class-div-active{% endifequal %}">
                    <a class="nav-a-btn-alike" href="?tab={{ item.name }}">{{ item }}</a>
                </div>
            {% endfor %}
        </div>
        {#        <div style="height: 2px;background-color: #8c5b5a"></div>#}
        <div class="subclass-list" style="border-left: 1px solid #666666;border-top: 1px solid #EEEEEE;border-bottom: 1px solid #EEEEEE">
            <div class="subclass-list-item"><a href="#">默认</a></div>
            <div class="subclass-list-item"><a href="#">云计算</a></div>
            <div class="subclass-list-item"><a href="#">人工智能</a></div>
            <div class="subclass-list-item"><a href="#">深度学习</a></div>
            <div class="subclass-list-item"><a href="#">智能嵌入式</a></div>
        </div>
{#        <div style="padding-bottom: 10px;">#}
{#            <div class="content-list" style="height: 60px;border-bottom: 1px solid black"></div>#}
{#            <div class="content-list" style="height: 60px;border-bottom: 1px solid black"></div>#}
{#            <div class="content-list" style="height: 60px;border-bottom: 1px solid black"></div>#}
{#            <div class="content-list" style="height: 60px;border-bottom: 1px solid black"></div>#}
{#            <div class="content-list" style="height: 60px;border-bottom: 1px solid black"></div>#}
{#            <div class="content-list" style="height: 60px;border-bottom: 1px solid black"></div>#}
{#        </div>#}
    </div>
{% endblock %}


{% block right %}
    {% if logined %}
        <div class="block-right" style="height: 200px;text-align: center">
            <P>你好,{{ user.username }}</P>
            <a class="btn btn-default">创作新问题 <span style="font-size: 10px;" class="glyphicon glyphicon-pencil"></span></a>
        </div>
    {% else %}
        <div class="block-right">
            请登录
        </div>
    {% endif %}
    <div class="block-right">
        <div style="padding-bottom: 10px;">
            <div class="div-ad-head" style="text-align: center">
                今日热题
            </div>
            <div class="div-hot-today">
                <a href="#">&nbsp;OpenVZ 开启 BBR 之最简方法是什么 - Linux Kernel Library</a>
            </div>
            <div class="div-hot-today">
                <a href="#">&nbsp;公司想做国外服务器的销售代理，要求控制后台为中文，求推荐靠谱服务商！</a>
            </div>
            <div class="div-hot-today">
                <a href="#">&nbsp;有点搞不明白， Chinaz 的 ip 查询代码在调戏用户智商？</a>
            </div>
            <div class="div-hot-today">
                <a href="#">&nbsp;历史总是相似？- Python & PHP</a>
            </div>

            <div class="div-hot-today">
                <a href="#">&nbsp;Google 云的流量到底是怎么计费的？我用价格计算器，加了流量费用没有一点变化</a>
            </div>

        </div>
    </div>

    {#    广告区#}
    <div class="block-right">
        <a href="#">
            <img src="{% static '/image/profit/206.gif'%}" style="width: 100%">
        </a>
    </div>

    <div class="block-right">
        <a href="#">
            <img src="{% static '/image/profit/201.gif'%}" style="width: 100%">
        </a>
    </div>
    {#    <div class="block-right">#}
    {#        <a href="#">#}
    {#            <img src="{% static '/image/profit/204.gif'%}" style="width: 100%">#}
    {#        </a>#}
    {#    </div>#}
    <div class="block-right">
        <a href="#">
            <img src="{% static '/image/profit/203.gif'%}" style="width: 100%">
        </a>
    </div>
    <div class="block-right">
        <a href="#">
            <img src="{% static '/image/profit/205.gif'%}" style="width: 100%">
        </a>
    </div>
    {#    <div class="block-right">#}
    {#        <img src="{% static '/image/profit/100.jpg' %}">#}
    {#        <img src="/static/image/profit/200.gif" style="width: 100%">#}
    {#    </div>#}

{#    <div class="block-right">#}
{#        <div class="div-ad-head" style="text-align: center">#}
{#                运行状态#}
{#        </div>#}
{#        <div>#}
{#            <div class="div-hot-today">#}
{#                今日活跃:17#}
{#            </div>#}
{#            <div class="div-hot-today">#}
{#                注册用户:50#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}