html{
    height:100%;
}
body{
    height: 100%;
    /*background-color: #EEEEEE;*/
    background-color: #282828;
}

@media screen and (max-width: 992px){
    #navbar-brand{
        display: none;
    }
}