html{
    height:100%;
}
body{
    height: 100%;
    /*background-color: #EEEEEE;*/
    background-color: #282828;
}

@media screen and (max-width: 992px){
    /*#navbar-brand{*/
        /*display: none;*/
    /*}*/
}
/*.btn-primary,.btn-default{*/
    /*background-image: none;*/
/*}*/
/*.btn-primary{*/
    /*background-color: #26ad1e;*/
    /*border: none;*/
/*}*/
/*.btn-primary:hover{*/
    /*background-color: #50b350;*/
    /*!*background-color: #35b370;*!*/
/*}*/
/*.btn-default:hover{*/
    /*background-color: #e6e6e6;*/
/*}*/

.btn-success{
    background-image: none;
    background-color:#26ad1e;!important;
}
.btn-success:hover{
    background-color: #26ba1e;!important;
}

a{
    color:#0f0f0f;
}
a:hover{
    color: #555;
    text-decoration: none;
}

