<div class="content-left">
    <nav class="nav">
        <ul class="nav" style="padding-left: 10px;">
            {#                <li role="separator" class="divider"></li>#}
            <div class="navbar-brand" style="padding-bottom: 30px;">
                <span class="glyphicon glyphicon-alert"></span>广播控制面板

            </div>
            <div style="height: 30px;"></div>
            <hr/>

            <li>
                <a href="{% url '__add_broadcasting' %}">添加广播</a>
            </li>
            <li>
                <a href="{% url '__send_broadcasting' %}">发送广播</a>
            </li>
            <li>
                <a href="{% url '__broadcast_history' %}">广播历史</a>
            </li>
        </ul>
    </nav>
</div>
