{% extends 'interface/base.html' %}
{% block tittle %}
{% endblock %}
<style>
.container-warpper{
    background-color: #ffffff;
}
</style>
{% block body %}
<div class="container-warpper">
    <div class="container">
        {% block adArea %}
            <div style="height: 300px;background-color: #2aabd2"></div>
        {% endblock %}
    </div>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    <div class="container">
        <div style="float: left;width: 80%;height: 220px;">
            {% block left %}
                你
            {% endblock %}
        </div>
        <div style="float:left;width: 20%;height: 220px;">
            {% block right %}
                看看你
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}