{% extends 'interface/base.html' %}
{% block tittle %}
{% endblock %}

{#1140 940 720#}

{% block body %}
<style>
.content-left{
    margin-right:10px;
}
.content-right{
        width: 250px;
    }
@media screen and (min-width: 0px) and (max-width: 767px){
    .content-left{
        width:460px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .content-left{
        width:460px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .content-left{
        width:680px;
    }
}

@media screen and (min-width: 1200px){
    .content-left{
        width: 880px;
    }
}
.block-left , .block-right , .block-my-ad{
    background-color: #FFFFFF;
    box-shadow:1px 1px 7px #848A8C;
    border-radius: 4px;
    margin-bottom: 10px;
}
</style>
<div class="container-warpper">
    <div class="container">
        {% block ad %}
            <div class="block-my-ad">ad</div>
        {% endblock %}
    </div>
    <div class="container">
        <div class="content-left" style="float: left;">
            {% block left %}
                <div class="block-left">this is left</div>
            {% endblock %}
        </div>
        <div class="content-right" style="float:left;">
            {% block right %}
                <div class="block-right">this is right</div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}