{% extends 'interface/base_display_settings.html' %}
{% block tittle %}
{% endblock %}


{% block style_410952 %}
    <style>
        .content-left{
            background-color: #fbfbfb;
            padding-bottom: 20px;
            font-size: 12px;
        }
        .nav-link-div-4101002 > a{
            color: #2e6da4;
        }
        .li-avtive{
            background-color: #EEEEEE;
        }
    </style>
{% endblock %}


{% block left %}
    <div class="content-left">

        <nav class="nav">
            <ul class="nav" style="padding-left: 10px;">
{#                <li role="separator" class="divider"></li>#}
                <div class="navbar-brand" style="padding-bottom: 30px;"><span class="glyphicon glyphicon-home"></span>&nbsp;个人中心</div>
                <div style="height: 30px;"></div>
                <hr/>
                <li class="li-avtive">
                    <a href="#download">个人展示</a>
                </li>

                <li>
                    <a href="#license-faqs">资料修改</a>
                </li>
                <li>
                    <a href="#translations">消息中心</a>
                </li>


            </ul>

        </nav>

    </div>
{% endblock %}
{% block right %}
{% endblock %}

