{% extends 'interface/base.html' %}
{% block tittle %}
{% endblock %}

{#1140 940 720#}

{% block body %}
<style>
.content-right{
        width: 280px;
    }
@media screen and (min-width: 0px) and (max-width: 767px){
    .content-left{
        width:440px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .content-left{
        width:440px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .content-left{
        width:660px;
    }
}

@media screen and (min-width: 1200px){
    .content-left{
        width: 860px;
    }
}


</style>
<div class="container-warpper">
    <div class="container">
        {% block adArea %}
            <div style="height: 300px;background-color: #2aabd2">ad</div>
        {% endblock %}
    </div>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>

    <div class="container">
        <div class="content-left" style="float: left;height: 220px;background-color: #3c763d">
            {% block left %}
                left
            {% endblock %}
        </div>
        <div class="content-right" style="float:left;height: 220px;background-color: #8c8c8c">
            {% block right %}
                right
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}