{% extends 'interface/base_display_settings.html' %}
{% block tittle %}
{% endblock %}


{% block style_410952 %}
    <style>
        .content-left{
            background-color: #fbfbfb;
            padding-bottom: 20px;
            font-size: 12px;
        }
        .nav-link-div-4101002 > a{
            color: #2e6da4;
        }
        .li-avtive{
            background-color: #EEEEEE;
        }
    </style>
{% endblock %}


{% block left %}
    <div class="content-left">

        <nav class="nav">
            <ul class="nav" style="padding-left: 10px;">
                {#                <li role="separator" class="divider"></li>#}
                <div class="navbar-brand" style="padding-bottom: 30px;">{% block brand %}
                    <span class="glyphicon glyphicon-home"></span>&nbsp;导航
                {% endblock %}
                </div>
                <div style="height: 30px;"></div>
                <hr/>

                {% block li-area %}
                    <li class="li-avtive">
                        <a href="#download">项目一</a>
                    </li>

                    <li>
                        <a href="#license-faqs">项目二</a>
                    </li>
                    <li>
                        <a href="#translations">项目三</a>
                    </li>

                {% endblock %}
            </ul>

        </nav>

    </div>
{% endblock %}
{% block right %}
    <div class="content-right">
        hello right
    </div>
{% endblock %}

