<style>
    .space-li >a {
        font-size:12px;
    }
</style>
<div class="content-left">
    <nav class="nav">
        <ul class="nav" style="padding-left: 10px;padding-bottom: 20px;">
            <div class="navbar-brand" style="padding-bottom: 30px;">
                <span class="glyphicon glyphicon-book"></span>&nbsp;历史记录
            </div>
            <div style="height: 30px;"></div>
            <hr>
            <li class="space-li">
                <a href="{% url "_history" %}">所有</a>
            </li>
            <li class="space-li">
                <a href="{% url "_history_asking" %}">我的提问</a>
            </li>
            <li class="space-li">
                <a href="{% url "_history_answering" %}">我的回答</a>
            </li>
            <li class="space-li">
                <a href="{% url "_history_liking" %}">我的点赞</a>
            </li>
            <li class="space-li">
                <a href="{% url "_history_collecting" %}">我的收藏</a>
            </li>
            <li class="space-li">
                <a href="{% url "_history_advanced" %}">高级设置</a>
            </li>
        </ul>
    </nav>
</div>