<style>
    .space-li >a {
        font-size:12px;
    }

</style>
<div class="content-left">
    <nav class="nav">
        <ul class="nav" style="padding-left: 10px;padding-bottom: 20px;">
            <div class="navbar-brand" style="padding-bottom: 30px;">
                <span class="glyphicon glyphicon-credit-card"></span>&nbsp;我的积分
            </div>
            <div style="height: 30px;"></div>
            <hr/>

            <li class="space-li">
                <a href="{% url "credit_history" %}">积分历史</a>
            </li>

            <li class="space-li">
                <a href="{% url "credit_exchange" %}">积分充值</a>
            </li>
            <li class="space-li">
                <a href="{% url "credit_achievement" %}">我的成就</a>
            </li>
        </ul>
    </nav>
</div>