{% extends 'interface/base_display_settings_a.html' %}

{% block brand %}
    <span class="glyphicon glyphicon-book"></span>&nbsp;问题收藏
{% endblock %}
{% block li-area %}
    <li class="li-active">
        <a href="#download">所有</a>
    </li>
    {#    <li>#}
    {#        <a href="#license-faqs">我的提问</a>#}
    {#    </li>#}
    {#    <li>#}
    {#        <a href="#translations">我的回答</a>#}
    {#    </li>#}
{% endblock %}

{% block right %}
    <div class="content-right" style="padding: 10px;">
        <div style="padding-bottom: 25px;">
            {% include 'pieces/commom/badge.html' with content="问题收藏" %}
            <button id="start_edit_button" style="float: right;margin-right: 8px;margin-top: 5px;" onclick="return start_edit()">编辑</button>
        </div>

        <form method="post">
            {% csrf_token %}
            <div id="opeartion-area-div" style="display: none;padding-bottom: 10px;margin-left: 20px;">
                <label>操作</label>
                <div></div>
                <select name="operation" class="form-control" style="width: 300px;display: inline-block;" id="operation-selector">
                    <option value="">--选择操作--</option>
                    <option value="delete">删除</option>
                </select>
                <button id="submit-button" style="display: inline-block;" class="btn btn-danger">请先选择操作</button>
            </div>
            {% for i in collection_list %}
                <div style="margin-top: 4px;padding-bottom: 2px;border-bottom: 1px solid #cecece">
                    <input class="checkbox-ids" style="margin-left: 14px;display: none;" type="checkbox" name="ids" value="{{ i.id }}">
                    <div style="display: inline-block">{{ forloop.counter }}</div>
                    <img style="height: 30px;width: 30px;display: inline-block;" src="{{ i.thread.create_user.userprofile.avatar.url }}">
                    <div style="display: inline-block"><a href="/t/{{ i.thread_id }}">{{ i.thread.tittle }}</a></div>
                    <div style="float: right;padding-right: 20px;">{{ i.create_time|date }}</div>
                </div>
            {% endfor %}
        </form>

    </div>
{#    <div class="content-right" style="padding: 5px;">#}
{#        <div style="text-align: center">#}
{#            <button class="">上一页</button>#}
{#            <button class="">下一页</button>#}
{#        </div>#}
{#    </div>#}
    {% include 'pieces/commom/right-paging.html' %}
    <script>
        function start_edit(){
            $(".checkbox-ids").toggle();
            $("#opeartion-area-div").toggle();
        }

        $(document).ready(function(){
            $("#operation-selector").change(function(){
                if($("#operation-selector").val()=="delete"){
                    $("#submit-button").text("确定删除");
                }
            });
        });

    </script>
{% endblock %}
