{% extends 'interface/base_display_settings_b.html' %}


{% block tittle %}
    个人展示
{% endblock %}

{% block left %}
    {% include 'space/pieces/left-nav.html' %}
{% endblock %}

{% block right %}
    <div class="content-right" style="padding: 20px 0px;">
        <div style="text-align: center">
            <div></div>

            <div>
                <img style="border: 1px solid #e4e4e4;padding: 2px;height: 100px;width: 100px;border-radius: 50px" src="{{ request.user.userprofile.avatar.url }}">
            </div>
            <div style="color: #000;font-size: 18px;">{{ request.user.username }}</div>
            <div>{{ request.user.userprofile.work_nickname }}@{{ request.user.userprofile.work_place }}</div>

            <div style="background-color: #cf4432;display: inline-block;width:400px;padding: 20px 20px;color: #ffffff;border-radius: 4px;margin-top: 10px;margin-bottom: 10px;">
                <div style="padding-top: 20px;">{% if request.user.userprofile.self_introduction %}{{ request.user.userprofile.self_introduction }}{% else %}这个人很懒，什么都没有留下{% endif %}</div>
                <div></div>
                <div style="float: right;">-- {{ request.user.username }}</div>
                <div></div>
            </div>
        </div>

    </div>
    <div class="content-right" style="text-align: center">
        <div>我的回答{{ user_thread_status.answering_count }}</div>
        <div>我的提问{{ user_thread_status.question_count }}
        </div>
        <div>我收到的赞{{ user_thread_status.being_liked_count }}</div>
    </div>
    <div class="content-right">
        用户积分基本，登录，打卡等添加积分
    </div>
{% endblock %}