{% extends 'interface/base_display_settings_a.html' %}

{% block tittle %}
    用户资料
{% endblock %}


{% block brand %}
    <span class="glyphicon glyphicon-home"></span>&nbsp;个人中心
{% endblock %}

{% block li-area %}
    <li class="li-avtive">
        <a href="#download">个人展示</a>
    </li>

    <li>
        <a href="#license-faqs">资料修改</a>
    </li>
    <li>
        <a href="#translations">消息中心</a>
    </li>
{% endblock %}

{% block right %}
    <style>
        .content-right{
            padding-left: 12px;
            padding-top: 10px;
        }
    </style>

    {% load my_filters %}
    <div class="content-right">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">头像修改</div>
        <hr/>
        <div style="width: 200px;float: left">
            <img style="width: 100%" src="/media_cdn/{{user_avatar_form.avatar.value}}">
        </div>

        <div style="width: 100px;float: left;margin-left: 20px;vertical-align: bottom">
            <img style="width: 100%;border-radius: 2px;box-shadow: 0 0 1px 1px #e8e8e8;" src="/media_cdn/{{user_avatar_form.avatar.value}}">
        </div>


        <div style="clear: left"></div>
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_avatar_form.as_p}}
            <button class="btn btn-default" type="submit">保存</button>
        </form>
        <hr>
    </div>
    <div class="content-right">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">用户资料</div>
{#        <div>用户资料</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
        {{ user_form.as_p }}
        {{ user_profile_form.as_p}}
        </div>
    </div>
    <div class="content-right">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">密码修改</div>
{#        <div>密码修改</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
            <form style="width: 300px;" method="post" action=".">
                <input name="tab_name" value="tab3" hidden="hidden">
                {% csrf_token %}
                <div class="form-group">
                    <label for="oldPassword">输入原始密码</label>
                    <input class="form-control" type="password">
                </div>
                <div style="height: 2px;border-bottom: 1px inset #ededed;position: relative;top: -5px;"></div>
                <div class="form-group">
                    <label for="newPassword">输入新密码</label>
                    <input class="form-control" type="password">
                </div>

                <div class="form-group">
                    <label for="newPassword">再次输入新密码</label>
                    <input class="form-control" type="password">
                </div>

                <button class="btn btn-default" style="float: left">提交</button>
            </form>
            <div style="clear: left"></div>
        </div>

    </div>
    <div class="content-right">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">邮箱绑定</div>
{#        <div>邮箱绑定</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
            <form style="width: 300px;">
                <input name="tab_name" value="tab4" hidden="hidden">
                <div class="form-group">
                    <label for="oldEmail">当前绑定的邮箱为</label>
                    <input class="form-control" id="oldEmail" type="email" value="{{ form1.email.value }}">
                </div>
                <div class="form-group">
                    <label>未验证
                        <label class="glyphicon glyphicon-remove"></label>
                    </label>
                </div>
                <button class="btn btn-default" onclick="return false;" >提交</button>
                <button class="btn btn-default" onclick="return false;">重新发送认证邮件</button>
            </form>
        </div>
    </div>
    <div class="content-right">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">手机绑定</div>
{#        <div>邮箱绑定</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
{#            <form style="width: 300px;">#}
{#                <input name="tab_name" value="tab4" hidden="hidden">#}
{#                <div class="form-group">#}
{#                    <label for="oldEmail">当前绑定的手机号为</label>#}
{#                    <input class="form-control" id="oldEmail" type="email" value="{{ form1.email.value }}">#}
{#                </div>#}
                <div class="form-group">
                    <label>未验证
                        <label class="glyphicon glyphicon-remove"></label>
                    </label>
                </div>
                <button class="btn btn-default" onclick="return false;" >提交</button>
                <button class="btn btn-default" onclick="return false;">重新发送认证短信</button>
            </form>
        </div>
    </div>
{% endblock %}