{% extends 'interface/base_display_settings_b.html' %}

{% block tittle %}
    资料修改
{% endblock %}


{% block left %}
    {% include 'space/pieces/left-nav.html' %}
{% endblock %}

{% block right %}
    <style>
        .content-right{
            padding-left: 30px;
            padding-top: 20px;
            padding-bottom: 40px;
        }
    </style>

    {% load my_filters %}
    <div class="content-right" id="user_avatar_form">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">头像修改</div>
        <hr/>
        <div style="width: 200px;float: left">
            <img style="width: 100%" src="/media_cdn/{{user_avatar_form.avatar.value}}">
        </div>

        <div style="width: 100px;float: left;margin-left: 20px;vertical-align: bottom">
            <img style="width: 100%;border-radius: 2px;box-shadow: 0 0 1px 1px #e8e8e8;" src="/media_cdn/{{user_avatar_form.avatar.value}}">
        </div>


        <div style="clear: left"></div>
        <form method="post" action="#user_avatar_form" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="form_name" value="user_avatar_form" hidden="hidden">
            {{ user_avatar_form.as_p}}
            <button class="btn btn-default" type="submit">保存</button>
        </form>
        <hr>
    </div>
    <div class="content-right" id="user_data">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">用户资料</div>
        {#        <div>用户资料</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
            <form method="post" action="#user_data" style="width: 300px;" id="user_data_real_form">
                {% csrf_token %}
                <input name="form_name" value="user_data" hidden="hidden">
{#                user_form #}
{#                 user_profile_form #}
{#                    user_avatar_form#}
                <div class="form-group">
                    <label for="id_username">用户名:</label>
                    <input disabled="disabled" class="form-control" id="id_username" maxlength="150" name="namemaybe" type="text" value="{{ user_form.username.value }}" required="">
                </div>
                <input hidden="hidden" name="username" value="{{ user_form.username.value }}">
                <div class="form-group">
                    <label for="id_first_name">姓名:</label>
                    <input class="form-control" id="id_first_name" maxlength="30" name="first_name" type="text" value="{{ user_form.first_name.value }}">
                </div>
                <div class="form-group">
                    <label for="id_work_place">工作地点:</label>
                    <input class="form-control" id="id_work_place" maxlength="20" name="work_place" type="text" value="{{ user_profile_form.work_place.value }}" required="">
                </div>

                <div class="form-group">
                    <label for="id_work_nickname">职位:</label>
                    <input class="form-control" id="id_work_nickname" maxlength="20" name="work_nickname" type="text" value="{{ user_profile_form.work_nickname.value }}" required="">
                </div>

                <div class="form-group">
                    <label>语言:</label>
                    <input class="form-control" id="id_language" maxlength="10" name="language" type="text" value="{{ user_profile_form.language.value }}">
                </div>
                <div class="form-group">
                    <label>自我介绍:</label>
{#                    <input class="form-control" id="id_self_introduction" maxlength="300" name="self_introduction" type="text" value="{{ user_profile_form.self_introduction.value }}" required="">#}
                    <textarea style="height: 150px;width: 350px;" class="form-control" form="user_data_real_form" name="self_introduction">{{ user_profile_form.self_introduction.value }}</textarea>
                </div>
                <div style="clear: left"></div>
                <button class="btn btn-default">保存</button>
            </form>
        </div>
    </div>
    <div class="content-right" id="password_changing">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">密码修改</div>
        {#        <div>密码修改</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
            <form style="width: 300px;" method="post" action="#password_changing">
                {% csrf_token %}
                <input name="form_name" value="password_changing" hidden="hidden">

                <div class="form-group">
                    <label for="oldPassword">输入原始密码</label>
                    <input class="form-control" type="password">
                </div>
                <div style="height: 2px;border-bottom: 1px inset #ededed;position: relative;top: -5px;"></div>
                <div class="form-group">
                    <label for="newPassword">输入新密码</label>
                    <input class="form-control" type="password">
                </div>

                <div class="form-group">
                    <label for="newPassword">再次输入新密码</label>
                    <input class="form-control" type="password">
                </div>
                <button class="btn btn-default" style="float: left" type="submit">提交</button>
            </form>
            <div style="clear: left"></div>
        </div>

    </div>
    <div class="content-right" id="email_changing">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">邮箱绑定</div>
        {#        <div>邮箱绑定</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
            <form style="width: 300px;" method="post" action="#email_changing">
                {% csrf_token %}
                <input name="form_name" value="email_changing" hidden="hidden">
{#                <input name="username" value="{{ user_form.username.value }}" hidden="hidden">#}
                <div class="form-group">
                    <label for="oldEmail">当前绑定的邮箱为</label>
                    <input class="form-control" id="oldEmail" type="email" name="email" value="{{ user_form.email.value }}">
                </div>
                <div class="form-group">
                    <label>未验证
                        <label class="glyphicon glyphicon-remove"></label>
                    </label>
                </div>
                <button class="btn btn-default" type="submit" >提交</button>
                <button class="btn btn-default" onclick="return false;">重新发送认证邮件</button>
            </form>
        </div>
    </div>
    <div class="content-right" id="phone_changing">
        <div style="position:relative;top: 7px;color: #EEEEEE;background-color: #373737;display: inline-block;padding: 2px 5px;border-radius: 4px;cursor: pointer;">手机绑定</div>
        {#        <div>邮箱绑定</div>#}
        <hr>
        <div style="padding-bottom: 20px;">
            {#            <form style="width: 300px;">#}
            {#                <input name="tab_name" value="tab4" hidden="hidden">#}
            {#                <div class="form-group">#}
            {#                    <label for="oldEmail">当前绑定的手机号为</label>#}
            {#                    <input class="form-control" id="oldEmail" type="email" value="{{ form1.email.value }}">#}
            {#                </div>#}
            <div class="form-group">
                <label>未验证
                    <label class="glyphicon glyphicon-remove"></label>
                </label>
            </div>
            {#                <button class="btn btn-default" onclick="return false;" >提交</button>#}
            <button class="btn btn-default" onclick="return false;">重新发送认证短信</button>
            </form>
        </div>
    </div>
{% endblock %}