{#<!DOCTYPE html>#}
{#<html lang="zh-CN">#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <meta name="description" content="">#}
{##}
{#    <title>Starter Template for Bootstrap</title>#}
{##}
{#    <!-- Bootstrap core CSS -->#}
{#      {% load static %}#}
{#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
{#  </head>#}
{##}
{#  <body>#}
{% include 'common/header.html' %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ProgramFlow</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">热点</a></li>
            <li><a href="#about">板块</a></li>
            <li><a href="#about">留言板</a></li>
            <li><a href="#contact">关于</a></li>
          </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>

            </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>








    <div class="container">

      <div class="starter-template" style="margin-top: 100px;">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>


        <div class="dropdown">
          <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
            下拉菜单（Dropdown） <span class="caret"></span>
          </a>


          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            ...
          </ul>
        </div>

    </div><!-- /.container -->


  </body>
</html>


{% include 'common/footer.html' %}