{% extends 'interface/base_display_left_rignt.html' %}
{% load static %}
{% block tittle %}
    首页
{% endblock %}

{#{% block body %}#}

{#<div class="container" style="padding-left: 0px;">#}
{#    <div class="jumbotron" >#}
{#      <h1>SnapFlow</h1>#}
{#      <p>一个支持『 内容个性化定制 』的问答社区</p>#}
{#      <p><a class="btn btn-primary btn-lg" href="#" role="button">更多介绍</a></p>#}
{#    </div>#}
{#</div>#}
{##}
{#<style>#}
{#    .carousel-control.left{ background-image:none;}#}
{#    .carousel-control.right{ background-image:none;}#}
{#    .carousel-inner > .item{#}
{#        height: 600px;#}
{#    }#}
{#</style>#}
{#<div>#}
{#    <div id="myCarousel" class="carousel slide" style="background-image: url("/static/favicon.png")">#}
{#        <!-- 轮播（Carousel）指标 -->#}
{#        <ol class="carousel-indicators">#}
{#            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
{#            <li data-target="#myCarousel" data-slide-to="1"></li>#}
{#            <li data-target="#myCarousel" data-slide-to="2"></li>#}
{#        </ol>#}
{#        <!-- 轮播（Carousel）项目 -->#}
{#        <div class="carousel-inner" style="background-image: url(/static/image/bg.jpg);color: #EEEEEE">#}
{#            <div class="item active">#}
{#                开始#}
{#                <div class="container" style="padding-left: 0px;">#}
{#                    <div class="jumbotron" style="background: none">#}
{#                        <div style="width: 60%;float: left">#}
{#                          <h1>SnapFlow</h1>#}
{#                          <p>一个支持『 内容个性化定制 』的问答社区系统</p>#}
{#                            <h3 class="introduction-caption">· 支持Markdown简约化评论</h3>#}
{#                            <h3 class="introduction-caption">· 高度自定义的内容个性化定制</h3>#}
{#                            <h3 class="introduction-caption">· 支持更快更强的WebSocket即时问题回答推送</h3>#}
{#                            <h3 class="introduction-caption">· 自动化分词为你保驾护航 </h3>#}
{#                            <h3 class="introduction-caption">· 支持简单粗暴却很有效的黑白关键词过滤 </h3>#}
{#                          <p style="padding-top: 20px;"><a class="btn btn-success btn-lg" href="#" role="button">更多介绍</a></p>#}
{#                        </div>#}
{#                        <a class="btn btn-default btn-lg">现在注册</a>#}
{#                        <a class="btn btn-success btn-lg">现在登陆</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="item">#}
{#                开始#}
{#                <div class="container" style="padding-left: 0px;">#}
{#                    <div class="jumbotron" style="background: none" >#}
{#                      <h1>他们都在用</h1>#}
{#                      <p>一个支持『 内容个性化定制 』的问答社区</p>#}
{#                      <p><a class="btn btn-success btn-lg" href="#" role="button">更多介绍</a></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                开始#}
{#                <div class="container" style="padding-left: 0px;">#}
{#                    <div class="jumbotron" style="background: none" >#}
{#                      <h1>现在加入会员行列还有优惠</h1>#}
{#                      <p>一个支持『 内容个性化定制 』的问答社区</p>#}
{#                      <p><a class="btn btn-success btn-lg" href="#" role="button">更多介绍</a></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- 轮播（Carousel）导航 -->#}
{#        <a class="carousel-control left" href="#myCarousel"#}
{#            data-slide="prev">&lsaquo;#}
{#        </a>#}
{#        <a class="carousel-control right" href="#myCarousel"#}
{#            data-slide="next">&rsaquo;#}
{#        </a>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}


{% block ad %}
    <div class="block-my-ad">
        <div class="container">
            <h1>首页</h1>
            <p>施工中..</p>
        </div>
    </div>
    <div class="block-my-ad">
        <a href="https://c-nfa.jd.com/adclick?keyStr=udkZvQs253om4dIKV2EfPBod43UqT011R00Ti+FxmmuH5Wl/l0iF6NptwdmseOEEQuSExiV3DcCIAR7/YSwtOO7EdkZNC6dQsHAyWJAPNwfamvMIeIQiUhI0Vn1gTXasWoGmkzScp8bFEWkDT6naxqRWHR6KCe6nDtcfbKpMJh5zjky2RAbutfyp6VydWrVVO8kB+sSzSS0dWVpqx287jLMnQRjLX8LeruC5DQu2wwDKXBn/4XyfZBkqZDvr0dRqsYAhmxRmBoISpVNFyZRXL4a+892nOos/0aSRnf6vbMmf9HLeDipRHAKm4vcfN+U1KKFU6qVYkYEbrR18iEkgIA==&cv=2.0&url=https://sale.jd.com/act/XiA6CBb8cT.html">
            <img style="width: 100%" src="{% static "image/index-aad.jpg" %}">
        </a>
    </div>
{% endblock %}

{% block left %}
    <div class="block-left">
        Ajax Loading..
    </div>
    <div class="block-left">
         类似推特的分页
    </div>
{% endblock %}

{% block right%}

    <div class="block-right" style="text-align: center;padding: 10px;">
        <a class="btn btn-default">个性化设置<span class="glyphicon glyphicon-wrench"></span></a>
    </div>
    {% include "forum/hot-block.html" %}
    {% include "forum/hot_today.html" %}

{% endblock %}