{% extends 'interface/base_display.html' %}

{% block tittle %}
    首页
{% endblock %}

{% block content %}

    <div style="height: 100px;margin-bottom: 10px;"></div>

    <div>
        <h1>首页</h1>
        <p>功能添加中...</p>
    <br/>

        {% if logined and profile.avatar %}
        <h1>{{ ctime }}{{ user.username }}</h1>
        <img src="{{ profile.avatar.url }}">
        {% else %}
            <h1>你还没有上传<b>头像</b>!</h1><a href="/space/member/" style="font-size: 120px;">点击我上传</a>
        {% endif %}
                <hr>
    <h3>
        {{ profile }}
    </h3>
    </div>
{% endblock %}