{% load static %}
{% include 'common/header.html' %}
<style type="text/css">
    body{
        background-color: #EEEEEE;
    }
</style>

<div class="container text-center" style="width: 300px;margin-top: 60px;" >
  <form class="form-signin" action="login" method="post">
    <h2 class="form-signin-heading">. 登录 .</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
      {% csrf_token %}
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="on" autofocus="" autocomplete="off">
          <div style="height: 5px;"></div>

      <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" id="inputPassword" class="form-control" onfocus="this.type='password'" placeholder="Password" required="on" autocomplete="off">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住密码
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
  </form>
              <div style="height: 5px;"></div>

    <a class="btn btn-lg btn-default btn-block" href="register">注册</a>
    <div style="float: right;padding-right: 8px;">
        <a href="/">返回首页</a>
    </div>

</div>

{% include 'common/footer.html' %}
{% include 'common/footer-animate.html' %}