{% load static %}
{% include 'common/header.html' %}
<style type="text/css">
    body{
        background-color: #EEEEEE;
    }
</style>

<div class="container text-center" style="width: 300px;margin-top: 60px;" >
  <form class="form-signin" action="register" method="post">
    <h2 class="form-signin-heading">.注册.</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    {% csrf_token %}
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="on" autofocus="" autocomplete="off">
          <div style="height: 5px;"></div>
    <input type="username" id="inputName" class="form-control" placeholder="Username" required="on" autofocus="" autocomplete="off">
          <div style="height: 5px;"></div>

      <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" id="inputPassword1" class="form-control" onfocus="this.type='password'" placeholder="Password" required="on" autocomplete="off">
              <div style="height: 5px;"></div>

      <input type="text" id="inputPassword2" class="form-control" onfocus="this.type='password'" placeholder="Password Repeat" required="on" autocomplete="off">

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住密码
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return check();">确定注册</button>
  </form>
              <div style="height: 5px;"></div>

    <a class="btn btn-lg btn-default btn-block" href="login">返回登陆</a>
    <div style="float: right;padding-right: 8px;">
        <a href="/">返回首页</a>
    </div>
</div>


{% include 'common/footer.html' %}
{% include 'common/footer-animate.html' %}

<script type="application/javascript">
    function check(){
        var regex = /^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$/g;
        if($("#inputEmail").val().length==0){
            $("#inputEmail").popup("请输入邮箱地址","bottom");
            $("#inputEmail").focus();
            return false;
        }else if(!regex.test($("#inputEmail").val())){
            $("#inputEmail").popup("邮箱格式不正确","bottom");
            $("#inputEmail").focus();
            return false;
        }else if($("#inputName").val().length==0){
            $("#inputName").popup("请输入用户名","bottom");
            $("#inputName").focus();
            return false;
        }else if($("#inputPassword1").val()==$("#inputPassword2").val()&&$("#inputPassword1").val().length==0){
            $("#inputPassword1").popup("请输入密码","bottom");
            $("#inputPassword1").val("");
            $("#inputPassword2").val("");
            $("#inputPassword1").focus();
            return false;
        }else if($("#inputPassword1").val().length<8){
            $("#inputPassword1").popup("密码长度太短。密码必须包含至少 8 个字符。","bottom");
            $("#inputPassword1").val("");
            $("#inputPassword2").val("");
            $("#inputPassword1").focus();
            return false;
        }else if($("#inputPassword1").val()!=$("#inputPassword2").val()){
            $("#inputPassword1").popup("两次输入的密码不一致","right");
            $("#inputPassword1").val("");
            $("#inputPassword2").val("");
            $("#inputPassword1").focus();
            return false;
        }else if($("#inputPassword1").val().length<6){
            $("#inputPassword1").popup("密码的长度不能小于6位","right");
            $("#inputPassword1").val("");
            $("#inputPassword2").val("");
            $("#inputPassword1").focus();
            return false;
        }else{

            $.modal('. 提示 .','账号或密码不正确');
            return false;
        }
    }
</script>