{% extends 'interface/base_display_settings_a.html' %}

{% block tittle %}
    消息中心
{% endblock %}

{% block brand %}
    <span class="glyphicon glyphicon-bell"></span>&nbsp;消息中心
{% endblock %}

{% block li-area %}
    <li class="li-avtive">
        <a href="#download">系统消息</a>
    </li>
    <li>
        <a href="#license-faqs">私信</a>
    </li>
    <li>
        <a href="#translations">通信好友</a>
    </li>

{% endblock %}


{% block right %}
    <div class="container content-right" style="padding-top: 20px;padding-bottom: 20px;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-849493">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-01" data-toggle="tab">系统消息</a>
                        </li>
                        <li>
                            <a href="#panel-02" data-toggle="tab">私信</a>
                        </li>
                        <div style="float: right;padding-right: 40px;"><a class="btn btn-default">发送私信</a></div>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-01">
                            <p>
                                I'm in Section 1.系统消息
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-02">
                            <p>
                                Howdy, I'm in Section 2.私信
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}