
{% extends 'interface/base_display.html' %}

{% load humanize %}

{% block tittle %}
    时间轴
{% endblock %}


{% block content %}


{#<div class="container" style="padding-top: 20px;">#}
{##}
{#    <a class="btn btn-primary" style="margin-left: 100px;" href="create">发布</a>#}
{#    <hr/>#}
{#    {% for i in list %}#}
{#        uid:{{ i.id }}#}
{#        {% if i.user.userprofile.avatar %}#}
{##}
{#        <img style="height: 64px;width: 64px;" src="{{i.user.userprofile.avatar.url}}">{{ i.created_time }}#}
{#        {% endif %}#}
{#        <h1>{{ i.tittle }}</h1>#}
{#        <p>content:{{ i.content}}</p>#}
{#        <hr/>#}
{#    {% endfor %}#}
{##}
{#</div>#}
{##}
<div class="container"style="padding-top: 20px;padding-bottom: 0px">
    <form role="form" method="post">
        {% csrf_token %}
      <div class="form-group">
          <span  style="top: 3px;" class="glyphicon glyphicon-map-marker"></span>
          <label for="name"> 你现在在想什么</label>
          <textarea style="resize: none;height: 160px;width: 500px;" class="form-control" rows="3" name="say_content"></textarea>
      </div>
        <input class="btn btn-success" type="submit">
    </form>
</div>
    <div><hr/></div>

{% for item in list %}
<div style="padding-top: 20px;padding-bottom: 20px;">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="{{item.user.userprofile.avatar.url}}
" data-holder-rendered="true">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ item.user.username }}</h4>
          {{ item.content }}
          {{ item.created_time | naturaltime}}
{#        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
      </div>
    </div>
</div>

{% endfor %}

    <div id="r_4213857" class="cell">

        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody><tr>
                <td width="48" valign="top" align="center"><img src="//v2ex.assets.uxengine.net/gravatar/a346c1587befe28d6462e11a659bbed5?s=48&amp;d=retro" class="avatar" border="0" align="default"></td>
                <td width="10" valign="top"></td>
                <td width="auto" valign="top" align="left"><div class="fr"><div id="thank_area_4213857" class="thank_area"><a href="#;" onclick="if (confirm('确认要不再显示来自 @cqcn1991 的这条回复？')) { ignoreReply(4213857, '15732'); }" class="thank" style="color: #ccc;">隐藏</a> &nbsp; &nbsp; &nbsp; <a href="#;" onclick="if (confirm('确认花费 10 个铜币向 @cqcn1991 的这条回复发送感谢？')) { thankReply(4213857, 'yoylwsuqqkpgvryabrdgaxmtgifglmlf'); }" class="thank">感谢回复者</a></div> &nbsp; <a href="#;" onclick="replyOne('cqcn1991');"><img src="//cdn.v2ex.com/static/img/reply.png" align="absmiddle" border="0" alt="Reply"></a> &nbsp;&nbsp; <span class="no">1</span></div>
                    <div class="sep3"></div>
                    <strong><a href="/member/cqcn1991" class="dark">cqcn1991</a></strong>&nbsp; &nbsp;<span class="fade small">10 小时 55 分钟前</span>
                    <div class="sep5"></div>
                    <div class="reply_content">搭车求点评
<br><a target="_blank" href="https://github.com/cqcn1991/resume" rel="nofollow">https://github.com/cqcn1991/resume</a></div>
                </td>
            </tr>
        </tbody></table>
        </div>


    <div id="r_4213695" class="cell">

        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody><tr>
                <td width="48" valign="top" align="center"><img src="//v2ex.assets.uxengine.net/gravatar/2d6a9377070e41d2c6d6e1c8bb33e3fc?s=48&amp;d=retro" class="avatar" border="0" align="default"></td>
                <td width="10" valign="top"></td>
                <td width="auto" valign="top" align="left"><div class="fr"><div id="thank_area_4213695" class="thank_area"><a href="#;" onclick="if (confirm('确认要不再显示来自 @crytis 的这条回复？')) { ignoreReply(4213695, '15732'); }" class="thank" style="color: #ccc;">隐藏</a> &nbsp; &nbsp; &nbsp; <a href="#;" onclick="if (confirm('确认花费 10 个铜币向 @crytis 的这条回复发送感谢？')) { thankReply(4213695, 'ybiiebsjvachrfifvyxvoxrvrcmjeygy'); }" class="thank">感谢回复者</a></div> &nbsp; <a href="#;" onclick="replyOne('crytis');"><img src="//cdn.v2ex.com/static/img/reply.png" align="absmiddle" border="0" alt="Reply"></a> &nbsp;&nbsp; <span class="no">1</span></div>
                    <div class="sep3"></div>
                    <strong><a href="/member/crytis" class="dark">crytis</a></strong>&nbsp; &nbsp;<span class="fade small">12 小时 21 分钟前 via iPhone</span>
                    <div class="sep5"></div>
                    <div class="reply_content">58 同城</div>
                </td>
            </tr>
        </tbody></table>
        </div>

{% endblock %}