{% extends 'interface/base_display_settings_b.html' %}

{% block left %}
    {% include 'credit/pieces/nav-left.html' %}
{% endblock %}


{% block style %}
    {{ block.super }}
    <style>
        .exchange-status-div{
            margin-left:20px;
            font-size: 18px;
        }
    </style>
{% endblock %}

{% block right %}
    <div class="content-right" style="padding-bottom: 20px;">
        <div>{% include 'pieces/commom/badgev2.html' with content='积分充值' %}</div>

        <div style="padding-left: 20px;">
            <form class="form-group" style="width: 300px;padding-top: 10px;" method="post">
                {% csrf_token %}
                <label>兑换码</label>
                <input id="input" class="form-control" type="text">
                <div style="display: inline-block;margin-top: 15px;">已经输入</div><span id="input-length-span">0</span><div style="display: inline-block;">个字符</div>
                <button style="margin-top: 10px;float: right" class="btn btn-default">确定兑换</button>
                <div style="clear: both;"></div>
            </form>
        </div>

        {#        {% if exchange_status %}#}
        {#            <div>兑换失败</div>#}
        {#        {% endif %}#}

        {% ifequal exchange_status "success" %}
            <div class="exchange-status-div" style="color: #4cae4c">兑换成功</div>
        {% endifequal %}

        {% ifequal exchange_status "fail" %}
            <div class="exchange-status-div" style="color: #dd1144;">兑换失败</div>
        {% endifequal %}


    </div>
    <script type="application/javascript">
        $("#input").on('input',function(){
            $("#input-length-span").text($(this).val().length);
        });
    </script>
{% endblock %}