{% extends 'interface/base_display_settings_b.html' %}

{% block left %}
    {% include 'credit/pieces/nav-left.html' %}
{% endblock %}


{% block right %}
    <div class="content-right" style="padding-bottom: 20px;">
        <div>{% include 'pieces/commom/badgev2.html' with content='积分情况' %}</div>
            <div style="text-align: center">当前积分 {{ credit_status.credit_point }}</div>
    </div>

    <div class="content-right">
        <div>{% include 'pieces/commom/badgev2.html' with content='积分历史' %}</div>
    </div>
    {% include 'pieces/commom/right-paging.html' %}
{% endblock %}