<style>
    .main_class{
        display: inline-block;
        color: #989898;
        border-left:1px solid black;
        padding-left: 4px;
    }
    .sub_class_div{
        display: inline-block;
    }
    .sub_class_div_wrapper{
        margin-left: 15px;
    }
    .sub_class{
        font-size: 14px;
    }
</style>

<div class="block-left" style="padding: 20px;">
    <div class="main_class_div_wrapper">
        <a><div class="main_class">技术</div></a>
        <div class="sub_class_div_wrapper">
            <div class="sub_class_div">
                <div class="sub_class">| --</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">程序员</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">云计算</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">人工智能</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">深度学习</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">数据挖掘</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">计算机网络</div>
            </div>
            <div class="sub_class_div">
                {#                <div class="sub_class">网络安全</div>#}
            </div>
        </div>
    </div>
    <div class="main_class_div_wrapper">
        <a><div class="main_class">职场</div></a>
        <div class="sub_class_div_wrapper">
            <div class="sub_class_div">
                <div class="sub_class">| --</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">招聘</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">吐槽</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">同事</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">转行</div>
            </div>
        </div>
    </div>
    <div class="main_class_div_wrapper">
        <a><div class="main_class">生活</div></a>
        <div class="sub_class_div_wrapper">
            <div class="sub_class_div">
                <div class="sub_class">| --</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">旅行</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">人生商谈</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">租房</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">出行</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">打扮</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">交友</div>
            </div>
            <div class="sub_class_div">
                <div class="sub_class">买房</div>
            </div>
        </div>
    </div>
    <div class="main_class_div_wrapper">
        编程语言
    </div>
    <div class="main_class_div_wrapper">
        交易
    </div>
    <div class="main_class_div_wrapper">
        城市
    </div>
    <div class="main_class_div_wrapper">
        设计
    </div>
    <div class="main_class_div_wrapper">
        带宽
    </div>
    <div class="main_class_div_wrapper">
        更多
    </div>
</div>